{% extends "base.html" %}
{% load static from staticfiles %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
{% endblock %}
{% block extrajs %}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
{% endblock %}

{% block title %} Wizard Table {% endblock %}

{% block content %}
	<div id="container">
		<ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li class="active">Manage Wizard Table</li>
			<a style="float:right" class="help" target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="Click here to see the instruction video.">
				<span class="glyphicon glyphicon-question-sign"></span>
			</a>
		</ol>


		<div class="panel panel-primary" style="border-color: white;">
			<div class="panel-heading">
				<h3 class="panel-title">List of Conversations In Wizard Table</h3>
			</div>
            <div class="alert alert-info" role="alert">
                <strong>Note: </strong>The download feature usually works best with Firefox browser.<br>
                &#40;&#42;&#41; If you see 'N/A' in the column, it means we're not sending notification for
                new chat messages from recipients.
                In order to update who receives notifications, please go to individual message creation page (i.e.
                Home / Manage and Send Conversations / ViewAdd Messages) and update the notification groups (step 4) for
                each message individually. That will be reflected in the "Notify" column below.
            </div>

            <div class="table-responsive">
                <table style="width: 100%;" aria-describedby="taskq_conv_info" role="grid" id="wizard-table" class="table table-bordered dataTable hover">
                    <thead>
                        <tr role="row">
                            <th aria-label="Recipient's Phone Number: activate to sort column descending" style="width: 70px;" aria-controls="taskq-conv" tabindex="0" class="sorting info">Recipient's Phone Number</th>
                            <th aria-label="Recipient's First Name: activate to sort column descending" style="width: 35px;" aria-controls="taskq-conv" tabindex="0" class="sorting info">Recipient's First Name</th>
                            <th aria-label="Recipient's Last Name: activate to sort column descending" style="width: 35px;" aria-controls="taskq-conv" tabindex="0" class="sorting info">Recipient's Last Name</th>
                            <th aria-label="Conversation Title: activate to sort column ascending" style="width: 100px;" aria-controls="taskq-conv" tabindex="0" class="sorting info">Conversation Title</th>
                            <th aria-label="Message That Prompted Response: activate to sort column ascending" style="width: 150px;" aria-controls="taskq-conv" tabindex="0" class="sorting info">Message That Prompted the Response</th>
                            <th aria-label="Notify Groups: activate to sort column ascending" style="width: 30px;" aria-controls="taskq-conv" tabindex="0" class="sorting info">Notify These Groups On New Incoming Text &#40;&#42;&#41;</th>
                            <th aria-label="Case Status: activate to sort column ascending" style="width: 30px;" aria-controls="taskq-conv" tabindex="0" class="sorting info">Case Status</th>
                            <!--th aria-label="Date Entered in Wizard Table: activate to sort column ascending" style="width: 30px;" class="info"-->
                            <th style="width: 30px;" class="info">
								{% if order_field == 'created_at' and order_by == '-' %}
								<a href="?page={{page_obj.number}}&order_field=created_at&order_by=">Created On (most recent first)</a>
								{% elif order_field == 'created_at' %}
								<a href="?page={{page_obj.number}}&order_field=created_at&order_by=-">Created On (oldest first)</a>
								{% else %}
								<a href="?page={{page_obj.number}}&order_field=created_at&order_by=-">Created On</a>
								{% endif %}
                            </th>
                            <th aria-label="Available Actions: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="taskq-conv" tabindex="0" class="sorting info">Available Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for r in object_list %}
{#                        {% if not r.deleted %}#}
                            <tr role="row" class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                                <td>
                                    {% if r.recipient.student.get_formatted_phone_number %}
                                        <a href="{% url 'accounts:user_profile' %}?username={{ r.recipient }}"> {{ r.recipient.student.get_formatted_phone_number }} </a>
                                    {% elif r.recipient.advisor.get_formatted_phone_number %}
                                        <a href="{% url 'accounts:user_profile' %}?username={{ r.recipient }}"> {{ r.recipient.advisor.get_formatted_phone_number }} </a>
                                    {% else %}
                                        Error in retrieving phone number
                                    {% endif %}
                                </td>
                                <td>{{ r.recipient.first_name }}</td>
                                <td>{{ r.recipient.last_name }}</td>
                                <td><a href="{% url 'campaigns:conversation_messages' %}?cam_id={{ r.campaign.id }}">{{ r.campaign.title }}</a></td>
                                <td>{{ r.message.get_full_content }}</td>
                                {% if r.notify %}
                                    <td>{{ r.message.get_all_group_names }}</td>
                                {% else %}
                                    <td> N/A </td>
                                {% endif %}
                                {% if r.status %}
                                    <td> Closed (Finished chatting) </td>
                                {% else %}
                                    <td> Open </td>
                                {% endif %}
                                <td>{{ r.created_at }}</td>
                                <td style="text-align: left;">
                                    <a href="{% url 'wizard:wizard_chat' %}?wizard_id={{ r.id }}" target="_blank">
                                        Chat with the Recipient
                                    </a>
                                    <span>|</span>
                                    <br>
                                    <a href="{% url 'wizard:switch_notify_status' %}?wizard_id={{ r.id }}">
                                        {% if r.notify %}
                                            STOP Notifications
                                        {% else %}
                                            Send Notifications&#40;&#42;&#41;
                                        {% endif %}
                                    </a>
                                    <span> | </span>
                                    <br>
                                    <br>
                                    <a href="{% url 'wizard:switch_status' %}?wizard_id={{ r.id }}">
                                        {% if r.status %}
                                            Open Case
                                        {% else %}
                                            Close Case
                                        {% endif %}
                                    </a>
                                    <span> | </span>
                                    <br>
                                    <br>
                                    <a href="{% url 'wizard:delete_wizard' %}?wizard_id={{ r.id }}" onclick="if(!confirm('Are you sure you want to delete this wizard entry from table?')) return false;">
                                        Delete This Row
                                    </a><span> | </span>
                                </td>

                            </tr>
{#                        {% endif %}#}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
	</div>
    <script>
    $(document).ready( function () {
    $('#wizard-table').dataTable({
        "columns": [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            { "orderable": false },
            null
        ],
        "dom": 'T<"clear">lfrtip',
        //"pagingType": "full_numbers",
        "tableTools": {
            // Old one, and it works, but I found a seemingly newer version, so I'm adding it below and commenting 'old' one out
            //"sSwfPath": "http://datatables.net/release-datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
            "sSwfPath": "http://cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf"
            // I also saved a local version of 2.2.4 in /static folder
        },
        responsive: true
});
    });
    </script>
{% endblock %}

