/* For Help button */
.glyphicon-question-sign{
	font-size: 24px;
}

/* Error message */
.errorlist{
	color: #D9534F;
	list-style: square;
}

/* Chars. Remaining message */
.char-left {
	font-weight: bold;
	color: red;
}

.warning {
	color: red;
}

.char-left-label {
	margin-top: 5px;
}

.table-striped tbody tr:nth-child(odd) td {
   background-color: #f9f9f9;
}

.table-striped tbody tr:hover td {
   background-color: #848484;
}

.table th{
    background-color: dodgerblue;
    color: #ffffff;
}