{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %} Edit Twilio Account Details {% endblock %}
{% block extrajs %}
<script src="{% static 'js/common.js' %}"></script>
{% endblock %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/group.css' %}" type="text/css"/>
{% endblock %}

{% block content %}	
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li>User Profile Settings</li>
		<li class="active">Edit Twilio Account Details</li>
		<a style="float:right" class="help" target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="Click here to see the instruction video.">
			<span class="glyphicon glyphicon-question-sign"></span>
		</a>
	</ol>{{ name }} <!-- DO NOT revmove this tag. This is an exmaple of having a global constant. I'll use this later in refactoring-->

	<div class="container">
		<form method="post">
			{% csrf_token %}
			<p>
			{% for field in form %}
                {{ field.errors }}
                <label for="{{ field.id_for_label }}">{{ field.label }}({{ field.help_text }}):</label>
                <br />
                {{ field }}<br /><br />
			{% endfor %}
			</p>
            <input class="btn btn-primary done-btn" type="submit" value="Edit Twilio Account Details">
		</form>
	</div>

    <style></style>
{% endblock %}